<?xml version='1.0' encoding='utf-8'?>
<widget id="com.parkpin.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ParkPin</name>
    <description>Remember which level you parked your car</description>
    <author email="support@parkpin.app" href="https://parkpin.app">ParkPin Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^11.0.0" />
    <preference name="Orientation" value="portrait" />
    <preference name="BackgroundColor" value="0x0c0e14" />
</widget>
